/* Адаптация для мобильных устройств */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    .hero h1 {
        font-size: 28px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }
}